/* Title and logo styling */

.site-title {
  display: flex;
  align-items: center;
}
.site-title > span {
  font-size: 1rem;
  margin-left: 0.3em;
}

.logo {
  height: 0;
  width: 0;
  margin: 0.5em;
  display: inline-block;
  border-top: 34px solid var(--bs-light-green);
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
}

.global-header{
  background-color: var(--bs-black);
  color:var(--bs-white);
  display: flex;
  justify-content: space-between;
}
.global-header a, .global-header button{
  color: var(--bs-white);
  background: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
}
.global-header_right{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.global-header_right button{
  background-color: transparent;
  display: flex;
  align-items: center;
}

.global-header_right .search-icon{
  padding: 0 1rem;
  margin-top: 6px;
}
.global-nav{
  display: none;
} 

.icon {
  width: 20px;
  height: 20px;
  fill: currentColor
}


.global-header a:link,
.global-header a:visited,
#park-header a:link,
#park-header a:visited {
  color: var(--bs-white);
  text-decoration: none;
}

#park-header{
  position: relative;
}

.park-banner{
  display: grid;
  grid-template-columns: 1fr;
}
.park-banner > img{
  width: 100%;
  height: 350px;
  object-fit: cover;
  grid-column: 1/2;
  grid-row:1/3;
}

.park-banner_content{
  grid-column: 1/2;
  grid-row:2/3;
  display: flex;
  align-items: center;
  gap: 1em;
  background-color: rgba(0,0,0,0.7);
  color: white;
  padding:0.5em 1em;
}

.park-banner_title{
  font-size: 1.8em;
  color:white;
}

.park-banner_location{
  font-size: 0.8rem;
  flex-direction:column;
  display: flex;
}

.park-nav{
  background-color: var(--bs-black);
}

.park-nav > ul {
  display: flex;
  justify-content: center;
  margin: 0;
  padding-left: 0;
  list-style:none;
  text-align: center;
  background-color: var(--bs-black);
  font-size: 0.8rem;
}

.park-nav a {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.8em 2em;
  color: var(--bs-white);
  justify-content: center;
  gap: 0.25rem;
}
.park-nav a:hover {
  background-color: var(--bs-grey-4);
}